.container-fluid .row{
    margin-top: 20px;
}

body {
    background-color:#0180b4;

}

a {
    font-family:roboto;
}

h1 {
    font-family:righteous;
    font-size:80px;
    color:white;
}

h3 {
    font-family:roboto;
    font-size:16px;
}

h4 {
    color:#c8c8c8;
    font-family:quicksand;
    font-size:17px;
}

#summary,#team, #downloads, #devtools{
    margin-top: 70px;
}

#why img,h3{
    display: inline;
}

.intro {
    margin-top:250px;
    height:420px;

}

#why h2{
    margin-bottom: 20px;
}

#team p{
    margin-top:0px;
    margin-bottom: 0px;
}

#team img{
    height: 80px;
    margin-right: 10px;
}

#team .row{
    margin-bottom: 20px;
}

#translationTeam p{
    margin-top:0px;
    margin-bottom: 0px;
}

#translationTeam img{
    height: 40px;
    margin-right: 10px;
}

#translationTeam .row{
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    margin-top:-10px;
}

.text-left {
    font-family:roboto;
    margin-left:12px;
}

.btn-primary {
    background:grey;
}

button a {
    color:white;
}

.mainimg {
    margin-left:-150px;
    margin-top:-50px;
}

#why {
    background:#d4d4d4;
    padding-top:20px;
    padding-bottom:40px;
    margin-bottom:20px;
}

.fast,.soph,.cogs,.alot,.extend,.lift {
    width:50px;
}

footer {
    padding-top:5px;
    background-color:black;
    color:white;
}

.space {
    display:inline;
    padding-top:20px;