/*custom font*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);
 * {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat, Helvetica, Arial, Sans-serif;
  margin: auto;
  background-image: url('../img/socialmogulbg.png');
  background-size: cover;
}
p {
  text-align: justify;
  margin-right: 46px;
  margin-bottom: 15px;
}
.top {
  height: 150px;
}
.logo {
  display: inline;
}
.logo img {
  width: 100%;
  margin-left: -12%;
}
.phone {
  margin-left: 50px;
}
.mailchimp {
  display: inline;
}
.mailchimp #mc_embed_signup {
  background-color: transparent;
  clear: left;
  font: 14px Montserrat, Helvetica, Arial, Sans-serif;
}
@media (max-width: 1366px) {
  body {
    min-height: 100vh;
  }
  .phone {
    margin-bottom: 150px;
  }
}
@media (max-width: 768px) {
  body {
    background-size: cover;
  }
  .logo img {
    margin-left: 0px;
    margin-top: -200px;
  }
  .phone {
    margin-left: -5px;
    padding-top: 200px;
    margin-bottom: 0px;
  }
  .steps {
    padding-bottom: 250px;
  }
  p {
    margin-left: 24px;
    margin-right: 34px;
  }
}