html {
    background-image:url(images/wood.jpg);
}
#photo {
    float:left;
}
div.container {
    overflow:hidden;
}
hr {
    clear:both;
}
img {
    border-radius: 150px;
	height:300px;
	width:auto;
    margin-right:10px;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
    color:white;
	font-size:40px;
    text-align:left;
}
#top-title {
    display:inline;
}
#slogan {
    font-family: 'Shadows Into Light', cursive;
    color:grey;
    font-size:18px;
    display:inline;
    float:left;
    margin-top:-28px;
    margin-left:80px;
}
.menu {
    font-family: 'Open Sans', sans-serif;
    text-align:right;
    font-weight:800;
    display:inline;
    float:right;
}
#top-menu ul li {
    display:inline;
    padding:3px;
}
a {
    text-decoration:none;
}
a:link {
    color:white;
}
a:visited {
    color:white;
}
a:hover {
    color:grey;
}
a:active {
    color:grey;
}
#photo {
    float:left;
    width:40%;
    position:relative;
    left:80px;
}
.about {
    float:left;
    width:50%;
}
#picasso {
    float:right;
    text-align:right;
    display:inline-block;
    border-left: 10px solid #ccc;
    margin-top: 12px;
    margin-left: 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
h2 {
    font-family: 'Open Sans', cursive;
    font-weight:800;
    text-align:right;
    color:white;
 	font-size:22px;
}
#desc {
    display:block;
    text-align:right;
    font-weight:400;
}    
p {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
	color:white;
    font-size:15px;
}
#story {
    text-align:justify;
}
#story2 {
    text-align:justify;
}
#story3 {
    text-align:justify;
}
.reach {
    text-align:right;
}
.links {
    clear:both;
    text-align:right;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:white;
}
#sclink {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    display:inline-block;
}
#scicon {
    margin-bottom:-10px;
}
#sc {
    display:inline;
    float:right;
}
footer {
    color:grey;
    text-align:right;
    font-family: 'Open Sans', sans-serif;
	font-size:12px;
}